Repository StPfeffer/kmfacil, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, dependency, docker, github

remove: deleted docker related workflows
  .github/workflows/docker-image.yml
  .github/workflows/docker-publish.yml
Labels: workflows, github

remove: deleted tests (lmao)
  src/test/java/com/pfeffer/kmfacil/KmfacilApplicationTests.java
Labels: none

raw: removed dependency graph update
  .github/workflows/java-ci.yml
Labels: workflows, github

feat: updated issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: github

remove: deleted src directory
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  src/main/java/com/pfeffer/kmfacil/KmfacilApplication.java
  src/main/resources/application.yml
Labels: github

fix: fixed markdown titles on pr template
  .github/pull_request_template.md
Labels: github

.github/labeler.yml:

workflows:
  - changed-files:
      - any-glob-to-any-file: [ '.github/workflows/**/*' ]

dependency:
  - changed-files:
      - any-glob-to-any-file: [ 'pom.xml' ]

docker:
  - changed-files:
      - any-glob-to-any-file: [ 'Dockerfile', 'compose.yaml', '.dockerignore' ]

bug:
  - head-branch: [ '^fix', 'fix', 'bugfix', 'issue', 'bug' ]

github:
  - changed-files:
      - any-glob-to-any-file: [ '.github/**/*' ]
